<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.justcards.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="org.justcards.android.permission.C2D_MESSAGE"/>

    <permission
        android:name="org.justcards.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:name=".application.JustCardsAndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AvatarSelectionActivity"
            android:label="@string/title_activity_avatar_selection"
            android:parentActivityName=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.justcards.android.activities.RegisterActivity"/>
        </activity>
        <activity
            android:name=".activities.SelectGameActivity"
            android:label="@string/title_activity_select_game"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.CreateGameActivity"
            android:label="@string/title_activity_create_game"
            android:parentActivityName=".activities.SelectGameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.justcards.android.activities.SelectGameActivity"/>
        </activity>
        <activity
            android:name=".activities.SelectCardsActivity"
            android:label="@string/title_activity_select_cards"
            android:parentActivityName=".activities.CreateGameActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.justcards.android.activities.CreateGameActivity"/>
        <activity
            android:name=".activities.GameViewManagerActivity"
            android:label="@string/title_activity_game_view_manager"
            android:screenOrientation="landscape"
            android:parentActivityName=".activities.SelectGameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.justcards.android.activities.SelectGameActivity"/>
        </activity>

        <activity android:name=".activities.TutorialActivity"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>

        <service android:name=".messaging.services.RegistrationService" android:exported="false"/>

        <service
            android:name=".messaging.services.InstanceIDListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".messaging.services.FCMMessageReceiverService" android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".messaging.MessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.justcards.push.intent.RECEIVE"/>
                <action android:name="org.justcards.push.intent.DELETE"/>
                <action android:name="org.justcards.push.intent.OPEN"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8ead5d8ebeaa8becc7bf9fd97c21bfa146b0f572"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>

</manifest>